/vendor/
/build/
/coverage-report/

# IGNORE THESE!! We are no longer allowed to ship with the LP21 data. We ship
# with obfuscated data instead.
tests/fixtures/curriculum-data/lp21_curriculum.ascii
tests/fixtures/curriculum-data/lp21_curriculum.xml

*.sublime-*
composer.lock
phpunit.xml
